build/
.build/

.xmake/

.vs/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.suo
*.user
*.ncb
*.opensdf
*.sdf

.vscode/

*.obj
*.o
*.lo
*.lib
*.a
*.exp
*.ilk

*.exe
*.dll
*.so
*.dylib
*.pdb

*.pch
*.gch

Thumbs.db
Desktop.ini
.DS_Store
